[submodule "Alex-2017.github.io"]
	path = Alex-2017.github.io
	url = git@github.com:Alex-2017/Alex-2017.github.io.git
[submodule "themes/hugo-nuo"]
	path = themes/hugo-nuo
	url = git@github.com:laozhu/hugo-nuo.git
